<div class="card" data-app-motion>
  <div class="card-body">
    <div class="row">
      <!-- ko component:'com-info' --><!-- /ko -->

      <div class="col-12 col-md-6 mb-3">
        <div class="row">
          <label class="col-12" for="s2-name">이름</label>
          <div class="col-12 mb-3">
            <input data-bind="value:vo.trgName, movepoint" data-movepoint="trgName" class="form-control" type="text" id="s2-name" placeholder="이름을 입력하세요.">
          </div>
          <label class="col-12" for="s2-tel">연락처</label>
          <div class="col-12">
            <input data-bind="value:vo.trgTel, movepoint" data-movepoint="trgTel" class="form-control" type="tel" id="s2-tel" placeholder="연락처을 입력하세요." maxlength="12">
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-4 offset-md-6 col-md-2">
        <button data-bind="event:on.prev" class="btn btn-block btn-outline-primary">이전</button>
      </div>
      <div class="col-8 col-md-4">
        <button data-bind="event:on.next" class="btn btn-block btn-primary">다음</button>
      </div>
    </div>
  </div>
</div>